a {
	color:#EEC900;
	text-decoration: none;
}

button {
	background-color:#EEC900 ;
	color: black;
	border: none;
	font-size: 20px;
	font-style: italic;
}

textarea {
	background-color: #333;
}

/**********************
		Hero Section
***********************/

.hero {
	min-height: 100px;
	color: white;
	overflow: hidden;
	position: relative;
	background-color: black;
	font-family: 'Poiret One', cursive;
}

header {
	height: 150px;
	/*background-color: orange;*/
	text-align: center;
	position: relative;

}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 50px;
}

.hero nav {
	position: absolute;
	top: 0;
	right: 0;
	border-top: 3px solid #EEC900;
	border-bottom: 3px solid #EEC900;
}

nav > a {
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
}


/********************************
	Main Section				
*********************************/

main {
		background-color: black;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}
/*******************
	index page     
*******************/
.game-links {
	/*text-align: center;*/
	background-color: black;
	position: absolute;
	left: 45%;
	
}

.game-links a {
	font-size: 30px;
	display: inline-block;
	margin-top: 40px;
	font-family: lobster;
}

.sub-header {
	background-color: black;
	overflow: hidden;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;}

.mission {
	background-color: black;
	color: #EEC900;
	font-size: 25px;
	width: 400px;
	margin-left: 35%;
	font-family: lato;

}
	

.create > a {
	font-size: 20px;
	margin-top: 30px;
	display: inline-block;
	font-family: 'Poiret One', cursive;;
}

.lightbox1 {
	background-color: black;
	color: #EEC900;
	font-size: 20px;
	width: 200px;
	float: left;
	margin-left: 50px;
	font-family: lato;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;


}.lightbox2 {
	background-color: black;
	color: #EEC900;
	font-size: 20px;
	min-height: 150px;
	width: 200px;
	float: right;
	margin-right: 50px;
	margin-bottom: 15px;
	font-family:lato;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
}

.banner {
	background-color: black;
	min-height: 150px;
	position: relative;
}

.create {
	background-color: black;
	min-height: 50px;
	width: 100px;
	position: absolute;
	left: 45%; 
	bottom: 70%;
}

	.create > a {
	font-size: 25px;
	font-weight: bold;
}

.foot {
	position: relative;
	background-color: black;
	min-height: 50px;
}
footer nav {
	position: absolute;
	border-top: 1px solid #EEC900;
	border-bottom: 1px solid #EEC900;
	left: 35%;

}
footer > nav > a {
	color: #EEC900;
}

/*******************
	sign up page     
*******************/

.sign-up-head {
	font-size: 40px;
}

.sign-up {
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
}

.sign-up > input {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*******************
	profile page     
*******************/

.profile-head {
	color: #EEC900;
	font-size: 30px;
}

.profile {
	background-color: black;
	width: 500px;
	min-height: 500px;
	overflow: hidden;
	margin: 0 auto;
}

.profile-pic {
	float: left;
	margin-bottom: 50px;
}

.update-section {
	background-color: black;
	width: 800px;
	margin: 0 auto;
}

.user-details {
	background-color: black;
	float: left;
	min-height: 100px;
	margin-top: 50px;
	color: #EEC900;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
}


/*******************
	log in page     
*******************/

.sign-in-head {
	font-size: 40px
}

.sign-in {
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
}

.sign-in > input {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

/*******************
	Create a game page     
*******************/

.gamecreate {
	margin-left: 260px;
	margin-bottom: 400px;
}
.game-create-head {
	font-size: 30px;
	color: #EEC900;
}

.game-create {
	text-align: center;
}

.title {
	color: #EEC900;
	display: inline;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}

.game-create > select {
	margin-top: 40px;
	margin-bottom: 70px;
}
.genre {
	color: #EEC900;
	display: inline;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}

/*******************
	Game Details page     
*******************/

.game-details-head {
	color: #EEC900;
	font-size: 30px;
}


.game-details {
	text-align: center;
	border: 5px solid black;
	
}

.game-details > p {
	margin-top: 10px;
	font-size: 20px;
	color: #EEC900;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}

.game-components {
	text-align: center;
	margin-top: 50px;
	color: #EEC900;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: lobster;
}


/*******************
	Wizard page 1    
*******************/

.wizard1-sub-header {
	background-color: black;
	overflow: hidden;
	min-height: 200px;
	margin: 0 auto;
	text-align: center;
}

.wizard-page1-head {
	font-size: 40px;
	color: #EEC900
}

.gallery {
	background-color: black;
	margin-left: 450px;
	min-height: 600px;
	width: 400px;
}


.gallery div {
	
	color: #EEC900;
	font-style: italic;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}

.singleplayer {
	margin-top: 50px;
	display: inline-block;
}

.singleplayer > input {
	width:100%;
  	height:auto;
}

.multiplayer {
	margin-top: 50px;
	display: inline-block;
}

.multiplayer > input {
	width:100%;
  	height:auto;
}

.splitscreen {
	margin-top: 50px;
	display: inline-block;
}

.splitscreen > input {
	width:100%;
  	height:auto;
}

.head-to-head {
	margin-top: 50px;
	display: inline-block;
}

.head-to-head > input {
	width:100%;
  	height:auto;
}

/*******************
	Wizard page 2    
*******************/
.search > input {
	width:100%;
  	height:auto;
}

.Solve > input {
	width:100%;
  	height:auto;
}

.Explore > input {
	width:100%;
  	height:auto;
}

.Score > input {
	width:100%;
  	height:auto;
}
/*******************
	Wizard page 3    
*******************/

.wiz3-head {
	color: #EEC900;
	font-size: 30px;
}

.gamerules {
	margin-left: 250px;
}

/*******************
	Wizard page 4    
*******************/

.gamesetting {
	margin-left: 250px;
}

/*******************
	Plot Page    
*******************/

.plot-head {
	font-size: 30px;
	color: #EEC900;
}

.comment {
	border: 3px solid #EEC900;
	overflow: hidden;
	color: #EEC900;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	margin-top:  10px;
}
.profile-picture {
	background-color: red;
	min-height: 50px;
	width: 100px;
	float: left;
}


/*******************
	Item Page    
*******************/

.item-head {
	font-size: 30px;
	color: orange;
}

/*******************
	Combat Page    
*******************/

.combat-head {
	font-size: 30px;
	color: orange;
}

/*******************
	NPC Page    
*******************/

.npce-head {
	font-size: 30px;
	color: orange;
}

/*******************
	Javascript   
*******************/

/**
 * Active State
 */
.compose.expand textarea {
	height: 5em;
}

.compose.expand > div {
	display: block;
}


